:local(.dvextract){
    white-space: nowrap; 
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

:local(.devtable){
	table-layout: fixed;
	
}

:local(.scrollable){
	list-style-type: none;
	height: 500px;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
}