:local(.Chemlogo) {
	padding-top: 10px;
	height: 49px;
}

:local(.devdescribe) {
  margin-top: 20px;
  border-bottom: solid 1px;
}

:local(.devColLeft) {
  width: 650px;
  padding-top: 5px;
}

:local(.devColRight) {
  width: 500px;
  padding-top: 5px;
}

:local(.taskTable) {
  margin-left: 10px;
}
/*-------------- Report -------------------*/

@page {
  	margin: 1.5cm;
}

@media screen {
	.logo-page-break {
		display: none;
	}
}


@media print {
	.page-break {
    	display: block;
    	page-break-before: always;
    }
  	.topband {
    	display: none;
  	}
  	.navbar {
    	display: none;
  	}
  	footer {
    	display: none;
  	}

    button {
      display: none;
    }
}


/*Over write bootsrap defaults*/
:local(.report-body) {
	font-size: 10pt;
  border: 1px solid;
}

:local(.reportHeader) {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 10px;
}

    /*Report Task Section*/
